{% extends 'header.html' %}

<body>
	{% block body %}
<head>
	<title>Settings</title>
</head>

	<div align="middle" class = "container">
		<h4>Change Password</h4>

		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/change_password/" style="margin-bottom:5em;">
			<dl>
				{{render_field(form.old_pwd)}}
				{{render_field(form.new_pwd)}}
				{{render_field(form.confirm)}}
			</dl>
			<p><input class="btn btn-primary" type=submit value=Submit></p>
		</form>
	</div>

	<div align="center">
	<button onclick="goBack()" class="btn btn-primary">Go Back</button>
	</div>
	<script>
	function goBack() {
		window.history.back();
	}
	</script>

{% endblock %}
</body>

</html>
