<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width,
	initial-scale=1">

	<link rel="stylesheet" href="{{ url_for('static',
	filename='css/bootstrap.min.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static',
	filename='favicon.ico') }}">

	<link rel="stylesheet" href="{{ url_for('static',
	filename='css/image.css') }}">

	<header>
		<nav class="navbar navbar-default" style="background-color: #003F72;" >

    		<div class="navbar-header">
				<!-- Logo image/ link to main page if not logged in or user home page if logged in -->
				{% if not session['logged_in'] %}
                    <a class="navbar-brand" href="{{ url_for('homepage') }}">
                    	<img style="max-width:35px; margin-top:-1px; color: #F1EA47;" alt="Mushroom Cloud" src="{{ url_for('static',
                            filename='images/mushlogo2.png') }}">
                    </a>

                {% else %}
                    <a class="navbar-brand" href="{{ url_for('user_home') }}">
                    <img style="max-width:35px; margin-top:-1px; color: #F1EA47;" alt="Mushroom Cloud" src="{{ url_for('static',
                            filename='images/mushlogo2.png') }}">
                    </a>

      			{% endif %}

    	    </div>


    		<div class="container-fluid">
    		<!-- Single button dropdown menu -->
			<div class="btn-group navbar-left">
  			<button style="margin-top:8px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			Menu <span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu">			<!-- Dropdown links are unused at the moment -->
    			<li><a href="#">About</a></li>
    			<li><a href="#">Projects</a></li>
    			<li role="separator" class="divider"></li>
    			<li><a href="#">Contact</a></li>
  			</ul>
			</div>

			<!-- Search bar -->
			<form class="navbar-form navbar-left" role="search" action="/search/" method="POST">
  				<div class="form-group">
    			<input type="text" class="form-control" placeholder="Search" name="search">
  				</div>
  				<button type="submit" class="btn btn-default">
  				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  				</button>
			</form>

				<ul class="nav navbar-nav navbar-right">

				  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
					<h5>
					<!-- Display user settings and logout button if logged in, else display sign in and register -->
					{% if session['logged_in'] %}
					<a style="margin-right:5px; color:#F1EA47;" role="presentation" href="/user_settings/"><span class="glyphicon glyphicon-wrench"></span>
					  {{ session['username'] }}   </a>
					<a style="color:#F1EA47;" role="presentation" class="active" href="/logout/"><span class="glyphicon glyphicon-off"></span> Log out</a>

					{% else %}
					<a style="margin-right:5px; color:#F1EA47;" role="presentation" href="/login/"><span class="glyphicon glyphicon-log-in"></span>
					 Login   </a>
					
					<a style="color:#F1EA47;" role="presentation" class="active" href="/register/"><span class="glyphicon glyphicon-pencil"></span> Sign up</a>
					</h5>
					{% endif %}

			  		</div>
	      	</ul>
			</div>
		</nav>

	</header>

	<script src="https://code.jquery.com/jquery-3.1.0.min.js"
	integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>


<body>

<div class="container-fluid" style="max-width: 80%;">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		<div class="alert alert-warning alert-dismissible" role="alert">
	  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		 </div>
		{% endfor %}
	{% endif %}
	{% endwith %}

	{% if error %}
		<div class="alert alert-danger alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{error}}
		 </div>
	{% endif %}
</div>

	<div class="border-row" style="width:100%; margin-bottom: 15px;"></div>
	<div class="container-fluid" style="margin-bottom:5px; width:80%; min-height: 100vh;">

	{% block body %}



	{% if error %}
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		{{error}}
	 </div>
	{% endif %}

	{% endblock %}

	</div>

</body>
<div class="container-fluid " style=" position: relative; width:100%;">
<footer class="panel-footer">
    <div class="container">

          <h5 class="white-text">Follow me!</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/">Twitter</a></li>
          </ul>
		  <p class="grey-text text-lighten-4">Contact: dakispapaiakovou@hotmail.com.</p>
    </div>

    <div class="footer-copyright" align='center'>
      <div class="container">
      © 2016 Mushroom Cloud Solutions.

      </div>

    </div>
</footer>
</div>
</html>
