{% extends 'header.html' %}

<body>
{% block body %}

<head>
	<title>Sign in</title>
</head>

<div align="middle" class = "container">
	<h4>Sign in</h4>
	<br>
	{% from "_formhelpers.html" import render_field %}
	<form name="loginform" method="POST">
		<dl>
			{{render_field(form.username)}}
			<p>
			{{render_field(form.password)}}
		</dl>
		<p>No account? <a role="presentation" class="active" href="/register/">Sign up for a free account</a>.</p>
		<p><a role="presentation" class="active" href="/forgot_password/">Forgot your password?</a></p>
		<p><input class="btn btn-primary" type=submit value="Sign in"></p>
				<input type=hidden value="{{ next or '' }}" name=next>
	</form>

</div>

{% endblock %}
</body>
