{% extends 'header.html' %}

<body>
{% block body %}

<head>
	<title>Register</title>
</head>

<div align="middle" class = "container">
	<h4>Register</h4>
	<br>
	{% from "_formhelpers.html" import render_field %}
	<form name="registrationform" method="POST">
		<dl>
			{{render_field(form.username)}}
			{{render_field(form.email)}}
			{{render_field(form.password)}}
			{{render_field(form.confirm)}}
			{{render_field(form.accept_tos)}}
		</dl>
		<p><input class="btn btn-primary" type=submit value=Register></p>
				<input type=hidden value="{{ next or '' }}" name=next>
	</form>

</div>

{% endblock %}
</body>
